<section id="tools">
    <h2>{{tools.title}}</h2>
    <div class="start-configuration">
        <div class="col-md-5 grid-size">
            <label for="grid-size">{{tools.gridSize.label}}</label>
            <select id="grid-size" name="grid-size" onchange="onChangeGridSize()">
                <script>generateGridSizeOptions();</script>
            </select>
        </div>
        <div class="col-md-5 adjust-pixel-size">
            <label for="adjust-pixel-size-input">{{tools.adjustPixelSize.label}}</label>
            <div id="adjust-pixel-size-range" class="adjust-pixel-size-range">
                <span class="min"></span>
                <input type="range" id="adjust-pixel-size-input" name="adjust-pixel-size-input"
                       onchange="adaptPixelSizeFromGrid()">
                <span class="max"></span>
            </div>
            <script>initializeAdjustPixelSize()</script>
        </div>
    </div>
    <div class="tools">
        <div class="col-md-5 pixel-color">
            <label for="pixel-color">{{tools.pixelColor.label}}</label>
            <input type="color" id="pixel-color" name="pixel-color">
        </div>
        <div class="col-md-5 fill">
            <label for="fill">{{tools.fill.label}}</label>
            <input type="checkbox" id="fill" name="fill" onchange="changeTool()"/>
        </div>
    </div>
    {{> modal_for_reset_pixel_art}}

    <div class="reset">
        <label for="reset">{{tools.reset.label}}</label>
        <button type="button" id="reset" name="reset" onclick="triggerModalReset()">{{tools.reset.buttonText}}</button>
    </div>
</section>